name: Pages

on:
  push:
    branches:
      - main  # default branch

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step4.outputs.hi }}
    steps:
      - id: step1
        uses: actions/checkout@v2
      - id: step2
        name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - id: step3
        name: Do daozhaoActionWait
        # You may pin to the exact commit or the version.
        # uses: shadowprompt/daozhaoAction@c8472b96f06bfa0b8093fb752fe3cbdf747cdcf6
#        uses: shadowprompt/daozhaoAction@main
        uses: ./ # 是用自身
        with:
          # number of milliseconds to wait
          milliseconds: 30000 # default is 1000
      - id: step4
        name: echo output
        run: |
          echo ${{steps.step3.outputs.time}}
          echo "hi=hello" >> $GITHUB_OUTPUT
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: echo ${{needs.job1.outputs.output1}}
      - run: echo 'over'
